---
import { Button } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { HiOutlineExternalLink } from "react-icons/hi";


const sections: {
  id: string;
  title: string;
  videos: {
    id: string;
    title: string;
    description: string;
  }[];
}[] = [
  {
    id: "intro",
    title: "Intro",
    videos: [
      {
        id: "PavD-h9bEzM",
        title: "What is WakaTime?",
        description:
          "An overview of WakaTime, the fitbit for programmers.",
      },
    ],
  },
  {
    id: "installing",
    title: "Installing",
    videos: [
      {
        id: "6kzRvgQsyBM",
        title: "Installing WakaTime",
        description:
          "Setting up WakaTime for automatic time tracking and programming metrics. This example shows installing WakaTime for VS Code, and breifly goes over the desktop app, browser extension, and Google Calendar integration.",
      },
      {
        id: "Mvqg0mh3iM4",
        title: "Install WakaTime for VS Code",
        description:
          "Step-by-step guide for installing the open source WakaTime plugin for VS Code.",
      },
      {
        id: "CpPhIzXpSlc",
        title: "Install WakaTime for Jetbrains IDEs",
        description:
          "Step-by-step guide for installing the open source WakaTime plugin for Jetbrains IDEs, such as IntelliJ IDEA, PyCharm, etc.",
      },
    ],
  },
  {
    id: "teams",
    title: "Teams",
    videos: [
      {
        id: "QWyNI05yws8",
        title: "Onboarding your team",
        description:
          "Set up a WakaTime dashboard for your dev team.",
      },
      {
        id: "tMboewxNqbI",
        title: "File expert feature",
        description:
          "See the currently focused file’s expert (the person who spent the most time coding in the file) in your vscode status bar.",
      },
      {
        id: "xn_u_NR2PnE",
        title: "Team dashboard alerts",
        description:
          "Get daily or weekly alerts for devs on your team dashboard.",
      },
    ],
  },
  {
    id: "cool-features",
    title: "Cool Features",
    videos: [
      {
        id: "i4ux2KEAP2w",
        title: "Editing time on your dashboard",
        description:
          "Using the WakaTime durations chart, you can edit the project, language, or category of your tracked time.",
      },
      {
        id: "Q3rkDTtw50s",
        title: "Keystroke Timeout Preference",
        description:
          "See the effect of your Keystroke Timeout Preference on your total reported time.",
      },
      {
        id: "azKFZL9wy6Q",
        title: "Invoicing with WakaTime",
        description:
          "Automatically fill in and generate your invoices with WakaTime.",
      },
    ],
  },
];
---

<BaseLayout title="Guides by WakaTime" description="Video tutorials for automatic time tracking, dev productivity, and programming metrics.">
  <main>
    <header
      class="border-b h-16 px-4 md:px-8 z-40 flex items-center sticky top-0 bg-background"
    >
    <div class="flex-1">
      Guides <span class="text-muted-foreground ml-1 text-sm relative top-[3px]">by <a href="https://wakatime.com" class="font-semibold">WakaTime</a></span>
      </div>
    <div class="flex-none">
      <Button className="font-semibold"><a href="https://wakatime.com" class="whitespace-nowrap" target="_blank">WakaTime.com<span class="ml-1 inline-block relative top-0.5"><HiOutlineExternalLink /></span></a></Button>
      </div>
    </header>

    <aside
      class="fixed z-20 left-0 top-0 bottom-0 w-72 border-r overflow-y-auto pt-16 max-md:hidden"
    >
      <nav class="flex flex-col gap-px p-4">
        {
          sections.map((section) => (
            <a
              href={`#${section.id}`}
              class="flex items-center px-4 h-10 rounded-md hover:bg-muted focus:bg-muted font-medium text-muted-foreground hover:text-foreground focus:text-foreground transition-colors"
            >
              {section.title}
            </a>
          ))
        }
      </nav>
    </aside>

    <div class="md:ml-72">
      <div
        class="mx-auto container max-w-screen-md px-4 pt-8 md:px-8 md:pt-16 pb-32 space-y-16"
      >
        {
          sections.map((section) => (
            <section>
              <div class="pb-4 border-b">
                <h2 id={section.id} class="text-3xl font-semibold">
                  <a href={`#${section.id}`}>{section.title}</a>
                </h2>
              </div>
              <div class="space-y-12 mt-10">
                {section.videos.map((video) => (
                  <div>
                    <iframe
                      src={`https://www.youtube.com/embed/${video.id}`}
                      title={video.title}
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin"
                      allowfullscreen
                      class="w-full aspect-video"
                    />
                    <h3 class="text-2xl font-semibold text-foreground mt-3">
                      {video.title}
                    </h3>
                    <div class="prose dark:prose-invert md:prose-lg mt-2 mb-6">
                      <p>{video.description}</p>
                    </div>
                  </div>
                ))}
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </main>
</BaseLayout>
